Unreal Projects/03_Escapegame/Escapegame/Binaries/
Unreal Projects/03_Escapegame/Escapegame/Intermediate/
Unreal Projects/03_Escapegame/Escapegame/Saved/
Unreal Projects/03_Escapegame/Escapegame/Content/StarterContent/
Unreal Projects/03_Escapegame/Escapegame/*.VC.db
